.header2{
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #232F3E;
    /* position: sticky; */
    top: 0;
    z-index: 100;
    
}

.hamburgerIcon{
    padding: 4.5px;
    
    height: 22px;
    /* background-color: #e89a34; */
    text-decoration: none;
    color: white;
}

 .header2_option>a{
    color: white;
    text-decoration: none;
}

.header2_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    margin-bottom: 5px;
}

.header2_ham{
    /* font-size: 6rem; */
    margin-bottom:10px;
    margin-top: 4px;
    padding: 9px;
    size: large;
}